.circleOn{
    display: inline-block;
    margin-left: 15px;
    margin-top: 30px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: green;
}
.circleOff{
    display: inline-block;
    margin-left: 15px;
    margin-top: 30px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: red;
}
.buttonOn{
    background-color: green;
}
.buttonOff{
    background-color: red;
}